<ion-view title="Fakta" id="page3" class=" ">
    <ion-content padding="true" class="has-header">

<ul>
<li>1. Finland created a National Failure Day in 2010, (to learn from mistakes and not repeat them).</li>
<li>2. They drink more coffee per person than anyone else in the world, (12 kg per year).</li>
<li>3. They host a whole bunch of odd competitions, including wife carrying, mobile phone throwing, air guitar and boot throwing.</li>
<li>4. There are no payphones here, (it’s the home of Nokia).</li>
<li>5. They’ve given up on the 2 and 3 cent coins (too fiddly?).</li>
<li>6. Finland has been ranked number 1 in the world for education.</li>
<li>7. Traffic violation fines depend on how much you earn, in 2002 a man was fined 116,000EUR (he had a yearly income of 7 million)</li>
<li>8. It is the norm to have a sauna in your house…</li>
<li>9. ..and to jump in a lake after you’ve had one, even in the winter.</li>
<li>10. In June and July, the sun doesn’t drop below the horizon.</li>
<li>11. In the winter, the sun never reaches the horizon.</li>
<li>12. You can hire igloos to stay in if you don’t fancy the Helsinki hotels, when the temperature is -30ºc outside, they stay at a balmy -3ºc.</li>
<li>13. You must keep the head lights on in the car, even during the day.</li>
<li>14. It has the least corrupt government in the word (according to 2012 statistics)</li>
<li>15. Finland has the most heavy metal bands, with 53 per 100 000 people.</li>
</ul>

    </ion-content>
</ion-view>
