<ion-view title="Kieli" id="page6" class=" ">
    <ion-content padding="true" class="has-header">

      <div class="center">
      <img ng-src="{{kuva}}" alt="kuva">
      <br><br>
      <div ng-repeat="item in vaihtoehdot">
      <button class="napit" ng-click="checkAnswer(item.vastaus)">{{item.sana}}</button>
      </div>
      <div class="oikein" ng-if="tulos === 'oikein'">Vastasit oikein!</div>
      <div class="vaarin" ng-if="tulos === 'vaarin'">Vastasit väärin :(</div>
      <button class="napit" ng-click="again()">Uudestaan!</button>
      </div>


    </ion-content>
</ion-view>
