<ion-view title="Kotonaattori" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="kotonaattori-card21">
            <ion-item class="item-avatar  " id="kotonaattori-list-item1">
                <img src="img/ariful.png">
                <h2>Hei, Ariful!</h2>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.kYtNnT">
                    <img src="img/J7Fx6odS9GAWrZ7vWC7A_palkit.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>