<ion-view title="Suomalaisuus" id="page5" class=" ">
    <ion-content padding="true" class="has-header">


      <div class="list card " id="tehtV-card22">
          <ion-checkbox></ion-checkbox>
          <ion-item id="tehtV-list-item2" class="  ">Ota selfie saunassa </ion-item>
          <div class=" item item-image">
              <img src="img/selfie.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
          </div>
          Sauna kuuluu suomalaiseen perinteeseen ja suomalaiset eivät häpeile olla alasti ventovieraiden kanssa.
      </div>

      <div class="list card " id="tehtV-card22">
                  <ion-checkbox></ion-checkbox>
          <ion-item id="tehtV-list-item2" class="  ">Etsi poro</ion-item>
          <div class=" item item-image">
              <img src="img/poro.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
          </div>
          Poro on pohjoisessa elävä puolivilli kotieläin josta valmistetaan mm. perinteistä suomalaista ruokaa poronkäristystä.
      </div>

      <div class="list card " id="tehtV-card22">
                  <ion-checkbox></ion-checkbox>
          <ion-item id="tehtV-list-item2" class="  ">Katso lätkämatsi</ion-item>
          <div class=" item item-image">
              <img src="img/kiekko.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
          </div>
          Jääkiekko on suomen kansallisurheilulaji. MM-95 on syöpynyt jokaisen suomalaisen muistiin.
      </div>

    </ion-content>
</ion-view>
