<ion-view title="Tehtävä" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="tehtV-card22">
            <ion-item id="tehtV-list-item2" class="  ">Voiko nainen kätellä Suomessa?</ion-item>
            <div class=" item item-image">
                <img src="img/qArEBXsAQ3mLLgAYdKLw_handshake.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div id="tehtV-button-bar1" class=" button-bar ">
            <a ui-sref="tabsController.kYtNnT" id="tehtV-button1" class=" button button-positive  button-block ">kyllä</a>
            <a ui-sref="tabsController.kYtNnT" id="tehtV-button2" class=" button button-positive  button-block ">ei</a>
        </div>
    </ion-content>
</ion-view>